@font-face {
    font-family: "PretendardExtra";
    src: url("../font/Pretendard-ExtraBold.ttf");
}
@font-face {
    font-family: "PretendardSemi";
    src: url("../font/Pretendard-SemiBold.ttf");
}
@font-face {
    font-family: "PretendardRegular";
    src: url("../font/Pretendard-Regular.ttf");
}

.detail{
    color: white;
    height: 70%;
    width: 80%;
    font-family: PretendardSemi;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.button{
    background-color: transparent;
    border: 2px;
    border-color: white;
    color: white;
    font-family: PretendardSemi;
    font-size: 24px;
}

.graph{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    display: flex;
    width : 500px;
    height : 500px;
    border-radius: 50%;
    text-align: center;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    margin: 10px;
}