@font-face {
  font-family: "PretendardExtra";
  src: url("../font/Pretendard-ExtraBold.ttf");
}
@font-face {
  font-family: "PretendardSemi";
  src: url("../font/Pretendard-SemiBold.ttf");
}
@font-face {
  font-family: "PretendardRegular";
  src: url("../font/Pretendard-Regular.ttf");
}

@media all and (min-width:1080px) {
  .box{
      flex-direction: row;
      width: 10vh;
  }
  .majorText{
    grid-column: 1/4;
  }
}

@media all and (max-width:1080px) {
  .box{
      flex-direction: column;
      grid-template-columns: 20% 20% 20% 20% 20% 20%;
  }
}

.box {
  display: flex;
  flex: 1;
  width: 160vh;
  height: 67.6vh;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(0.5);
  border-radius: 50px;
  border: solid #707070;
  border-width: 3;
  color: #FFFFFF;
  flex-direction: column;
}

.globalCollageText {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  font-size: 44px;
  font-family: PretendardSemi;
}

.collage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 30px;
}

.collageText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  margin-left: 20px;
  margin-right: 60px;
  font-size: 44px;
  font-family: PretendardSemi;
}

.majorText {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 20% 20% 20% 20% 20% 20%;
  grid-template-rows: 30px 30px 30px 30px;
  text-align: center;
  align-self: center;
  font-size: 18px;
  font-family: PretendardSemi;
}

.majorButton {
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-family: PretendardSemi;
}

.text {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 145px 145px 145px 145px 153px;
  text-align: center;
  align-self: center;
  font-size: 18px;
  font-family: PretendardSemi;
}