@font-face {
  font-family: "PretendardExtra";
  src: url("../font/Pretendard-ExtraBold.ttf");
}
@font-face {
  font-family: "PretendardSemi";
  src: url("../font/Pretendard-SemiBold.ttf");
}
@font-face {
  font-family: "PretendardRegular";
  src: url("../font/Pretendard-Regular.ttf");
}

.box {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  min-width: 500px;
  min-height: 67.6vh;
  align-items: flex-start;
  justify-content: center;
  margin: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(0.5);
  border-radius: 50px;
  border: solid #707070;
  border-width: 3;
  color: #ffffff;
  flex-direction: column;
}

.globalCollageText {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  font-size: 44px;
  font-family: PretendardSemi;
}

.collage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 30px;
}

.collageText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  margin-left: 20px;
  margin-right: 60px;
  font-size: 44px;
  font-family: PretendardSemi;
}

.majorText {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-family: PretendardSemi;
}

.majorButton {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-family: PretendardSemi;
  width: 160px;
  height: 45px;
}
